{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 23, "knowledge_revision": 48, "git_revision": "", "hash": "e150e546cadf92e2a8de940ef9fcba68", "format-version": 4, "code-base-name": "default", "filename": "notes_backend_workspace/notes_backend/requirements.txt", "revision_history": [{"48": ""}]}